{
    "parser": "babel-eslint",
    "rules": {
    },
    "extends": "eslint:recommended",
    "env": {
        "commonjs": true,
        "browser": true
    },
    "globals": {
        "Uint8Array": true,
        "__dirname": true
    }
}