{
    "parser": "babel-eslint",
    "rules": {
        "indent": ["warn", 4],
        "no-unused-vars" : ["warn"]
    },
    "extends": "eslint:recommended",
    "env": {
        "commonjs": true,
        "browser": true
    }
}